.spinner{
	display: none;
	position: absolute;
	top: 50vh;
    left: 50vw;
    z-index: 2000;
}

.logout-btn {
    margin: 10px;
    padding: 5px
}

[dir="ltr"] {
    .page-inner {
        animation: fadeInLeft 1s;
    }
}

[dir="rtl"] {
	.page-inner {
        animation: fadeInRight 1s;
    }
}